<div class="row upload-row pt-2 pb-2 m-0">
  <div class="col m-0 text-left">
    <button mat-button color="primary" class="white-tr-text bg-dark" (click)="openUploadDialog()">
      <mat-icon>audiotrack</mat-icon>
      <span class="ml-1">Select Songs</span>
    </button>

    <button mat-button color="primary" class="white-tr-text bg-dark ml-2" (click)="createAlbum()">
      <mat-icon>album</mat-icon>
      <span class="ml-1">New Album</span>
    </button>
  </div>
  <div class="col m-0 text-right">
    <button mat-button color="primary" class="white-tr-text bg-purple" *ngIf="releaseFiles.length">
      <mat-icon>file_upload</mat-icon>
      <span>Release</span>
    </button>
  </div>
</div>

<div class="row m-0 p-0">
  <div class="col m-0 p-0 item-container">

    <!-- Albums -->
    <div class="row mt-2 m-0 p-3" *ngFor="let album of albums; let i = index">
      <div class="col release-item-row m-0">
        <div class="row m-0 pt-2 pb-2">
          <div class="col m-0 p-0 album-art-col">
            <img [src]="album.artImage" alt="">
          </div>

          <div class="col m-0 p-0 pl-4">
            <div class="row m-0 p-0">
              <div class="col m-0 p-0">
                <mat-form-field class="w-100">
                  <span matPrefix>
                    <mat-icon>album</mat-icon>
                    &nbsp;&nbsp;
                  </span>
                  <input matInput placeholder="Name" [(ngModel)]="album.name">
                </mat-form-field>
              </div>
            </div>

            <div class="row m-0 p-0">
              <div class="col-4 m-0 p-0">
                <mat-form-field class="d-inline-block" style="margin-top: auto; margin-bottom: auto">
                  <span matPrefix>
                    <mat-icon>calendar_today</mat-icon>
                    &nbsp;&nbsp;
                  </span>
                  <input matInput placeholder="Year" [(ngModel)]="album.year">
                </mat-form-field>
              </div>

              <div class="col-4 d-flex text-center m-0 p-0">
                <mat-icon style="margin-top: auto; margin-bottom: auto">person</mat-icon>
                <span class="d-inline-block" style="margin: auto; font-weight: bold"> Spatula of the Apocalypse </span>
              </div>

              <div class="col-4 d-flex text-right m-0 p-0">
                <span class="d-inline-block" style="margin-left:auto; margin-top: auto; margin-bottom: auto"> 8 tracks </span>
                <span class="d-inline-block ml-4" style="margin-top: auto; margin-bottom: auto"> 54:30 </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Song items -->
    <div class="row mt-2 m-0 p-3" *ngFor="let releaseFile of releaseFiles; let i = index">
      <div class="col release-item-row pb-4 m-0">
        <div class="row m-0">
          <div class="col-2 d-flex" style="max-width: 40px">
            <mat-icon matListIcon style="margin-top: auto; margin-bottom: auto">audiotrack</mat-icon>
          </div>
          <div class="col m-0">
            <div class="row m-0">
              <div class="col p-0 m-0">
                <mat-form-field class="w-100">
                  <input matInput [(ngModel)]="releaseFile.name">
                </mat-form-field>
              </div>

              <div class="col-2 text-right d-flex p-0 pr-2 m-0">
                <span class="d-inline-block" style="margin-top: auto; margin-bottom: auto; margin-left: auto"> {{parseSeconds(releaseFile.duration)}} </span>
              </div>
            </div>

            <div class="row m-0">
              <span style="font-size: 12px"> Location: {{releaseFile.fileUrl}} </span>
            </div>

            <div class="row m-0">
              <div class="col m-0 p-0 d-flex bg-tr-whiter">
                <span class="d-inline-block" style="margin-top: auto; margin-bottom: auto"> Price: </span>

                <mat-form-field class="d-inline-block ml-4" style="margin-top: auto; margin-bottom: auto">
                  <span matPrefix>
                    <i class="fas fa-dollar-sign"></i>
                    &nbsp;&nbsp;
                  </span>
                  <input matInput [(ngModel)]="releaseFile.priceUSD" (keydown)="USDToETH(releaseFile)">
                </mat-form-field>

                <mat-form-field class="d-inline-block ml-4" style="margin-top: auto; margin-bottom: auto">
                  <span matPrefix>
                    <i class="fab fa-ethereum"></i>
                    &nbsp;&nbsp;
                  </span>
                  <input matInput [(ngModel)]="releaseFile.priceETH" (keydown)="ETHToUSD(releaseFile)">
                </mat-form-field>
              </div>
            </div>

            <div class="row m-0">
              <div class="col-6 m-0 pl-0 pr-2">
                <mat-form-field class="w-100">
                  <input type="text" placeholder="Genre" aria-label="Number" matInput [(ngModel)]="releaseFile.genre" [formControl]="genreControl"
                    [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredGenres | async" [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="col-6 m-0 pr-0 pl-2">
                <mat-form-field class="w-100">
                  <input type="text" placeholder="Album" aria-label="Number" matInput [(ngModel)]="releaseFile.album" [formControl]="albumControl"
                    [matAutocomplete]="auto2">
                  <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let albumOption of filteredAlbums | async" [value]="albumOption">
                      <img style="vertical-align:middle;" aria-hidden src="{{albumOption.artImage}}" height="25" />
                      <span class="ml-2"> {{ albumOption.name }} </span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <button mat-icon-button class="release-delete" color="warn" (click)="deleteFile(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>