<div class="row upload-row pt-2 pb-2 m-0">
  <div class="col m-0 text-right">
    <button mat-button color="primary" class="white-tr-text bg-dark" (click)="openUploadDialog()">
      <mat-icon>file_upload</mat-icon>
      <span>Upload</span>
    </button>
  </div>
</div>

<div class="row m-0">
  <div class="col m-0">
    <mat-list>
      <mat-list-item *ngFor="let releaseFile of releaseFiles">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine> {{releaseFile.name}} </h3>
        <p matLine>
          <span> Location: {{releaseFile.fileUrl}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>