.controls-row {
    height: 64px;
}

.window-button {
    width: 14px;
    height: 14px;
    line-height: 14px;
    color: rgba(#000000, 0.7);
    mat-icon {
        line-height: 10px;
        font-size: 10px;
        height: 10px;
        width: 10px;
        margin-bottom: 2px;
    }
}

.close-button {
    background-color: #f44336;
}

.minimize-button {
    background-color: #FFC107;
}

.maximize-button {
    background-color: #4CAF50;
}