<mat-toolbar class="w-100 pc-toolbar" style="-webkit-app-region: drag">
  <!-- Close, minimize, maximize buttons -->
  <!-- <app-window-controls></app-window-controls> -->

  <span class="spacer-sm"></span>
  <!-- Prev, Next, Play controls -->
  <button mat-icon-button>
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-icon-button (click)="playpause()">
    <mat-icon *ngIf="!this._playerService.playing">play_arrow</mat-icon>
    <mat-icon *ngIf="this._playerService.playing">pause</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>skip_next</mat-icon>
  </button>

  <span class="spacer"></span>
  
  <!-- Track Info -->
  <!-- <span style="display: inline-flex; vertical-align: middle"> -->
    
  <!-- </span> -->

  <pc-track-info></pc-track-info>
  
  <span class="spacer"></span>
  
  <!-- Search bar -->
  <pc-search-bar style="-webkit-app-region: no-drag"></pc-search-bar>
</mat-toolbar>