.spacer {
    flex: 1 1 auto;
}

.spacer-sm {
    flex: 0.25 1 auto;
}

button {
    -webkit-app-region: no-drag;
    
    &mat-icon {
        cursor: pointer;
    }
}

.pc-toolbar {
    background-color: rgba(#9E9E9E, 0.25);
}